.jumbotron {
    margin: 0px;
    padding: 0px;
    height: 250px;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://plataforma9.com/upload/2017/02/Universidade-de-Aveiro-UA.jpg);
}
.main{
    margin:0px;
    padding:0px;
}

.row.linha-produtos {
    margin: 10px;
}

.col-12.col-md-6.col-lg-4.cards-div {
    margin-bottom: 10px;
}

.top-table {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}